<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsb.mybatis.biz.dao.CountryMapper" >
  <resultMap id="BaseResultMap" type="com.hsb.mybatis.biz.common.model.Country" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="COUNTRY_NAME" property="countryName" jdbcType="VARCHAR" />
    <result column="COUNTRY_CODE" property="countryCode" jdbcType="VARCHAR" />
  </resultMap>
</mapper>